<div
  class="modal-background statistics-is-hidden"
  data-statistics-thougth-modal
>
  <div class="modal-statistics-archived">
    <button
      type="button"
      class="modal-close"
      data-statistics-thougth-modal-close
    >
      <svg class="icon icon-close" width="14" height="14">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="header-container statistics-header-container">
      <ul class="list header-list" id="statistics-archived-all-thought">
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Name</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Created</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Category</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Content</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Dates</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <button id="archived-all" class="item-btn">
              <svg class="item-icon header-icon" width="23" height="23">
                <use xlink:href="./images/sprite.svg#icon-archieved"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <ul
      id="statistics-archived-list-thought"
      class="statistics-archived-list scroll-bar"
    ></ul>
  </div>
</div>
