<header class="section">
  <div class="container">
    <div class="header-container">
      <ul class="list header-list">
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Name</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Created</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Category</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Content</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <h2 class="item-title">Dates</h2>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <button id="archived-all" class="item-btn">
              <svg class="item-icon header-icon" width="23" height="23">
                <use xlink:href="./images/sprite.svg#icon-archieved"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="header-item">
          <div class="item-container">
            <button id="delete-all" class="item-btn">
              <svg class="item-icon header-icon" width="23" height="23">
                <use xlink:href="./images/sprite.svg#icon-delete"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
