<div class="modal-background is-hidden" data-modal>
  <div class="modal-create-notes">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="icon icon-close" width="14" height="14">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form action="submit" class="modal-form" id="modal-form">
      <label class="label-text" for="name">Name</label>
      <input
        id="name-input"
        class="input"
        type="text"
        name="name"
        placeholder="Write note name"
      />
      <label class="label-text" for="category">Category</label>
      <select id="category" class="input" name="category">
        <option value="Task" selected="selected">Task</option>
        <option value="Random Thought">Random Thought</option>
        <option value="Idea">Idea</option>
      </select>
      <label class="label-text" for="content">Content</label>
      <textarea
        name="content"
        id="content-text"
        class="content"
        placeholder="Write note content ..."
      ></textarea>
      <div class="modal-btn-container">
        <button type="submit" class="modal-btn-send">Send</button>
      </div>
    </form>
  </div>
</div>
