<main class="main">
  <div class="container notes-list-container">
    <ul class="list notes-list scroll-bar" id="notes-list">
      <li class="notes-item">
        <div class="notes-item-container">
          <svg class="item-icon" width="23" height="23">
            <use xlink:href="./images/sprite.svg#icon-shop"></use>
          </svg>
        </div>
        <div class="notes-item-item">
          <h2 class="notes-title">name</h2>
        </div>
        <p class="notes-text notes-item-item">April 20</p>
        <p class="notes-text notes-item-item">Task</p>
        <p class="notes-text notes-item-item">
          Tomates,bread Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Eum, tenetur?
        </p>
        <p class="notes-text notes-item-item">Dates: 3/5/2022, 3/12/2022</p>
        <button id="edit" class="notes-item-btn notes-item-item edit">
          <svg class="item-icon notes-icon" width="23" height="23">
            <use xlink:href="./images/sprite.svg#icon-edit"></use>
          </svg>
        </button>
        <button id="archived" class="notes-item-btn notes-item-item archived">
          <svg class="item-icon notes-icon" width="23" height="23">
            <use xlink:href="./images/sprite.svg#icon-archieved"></use>
          </svg>
        </button>
        <button id="delete" class="notes-item-btn notes-item-item delete">
          <svg class="item-icon notes-icon" width="23" height="23">
            <use xlink:href="./images/sprite.svg#icon-delete"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</main>
