<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main section">
      <div class="container">
        <ul class="list notes-list">
          <li class="notes-item">
            <div class="notes-item-container">
              <svg class="item-icon" width="23" height="23">
                <use xlink:href="./images/sprite.svg#icon-shop"></use>
              </svg>
            </div>
            <div class="notes-item-item">
              <h2 class="notes-title">name</h2>
            </div>
            <p class="notes-text notes-item-item">April 20</p>
            <p class="notes-text notes-item-item">Task</p>
            <p class="notes-text notes-item-item">
              Tomates,bread Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Eum, tenetur?
            </p>
            <p class="notes-text notes-item-item">Dates: 3/5/2022, 3/12/2022</p>
            <button id="edit" class="notes-item-btn notes-item-item">
              <svg class="item-icon notes-icon" width="23" height="23">
                <use xlink:href="./images/sprite.svg#icon-edit"></use>
              </svg>
            </button>
            <button id="edit" class="notes-item-btn notes-item-item">
              <svg class="item-icon notes-icon" width="23" height="23">
                <use xlink:href="./images/sprite.svg#icon-archieved"></use>
              </svg>
            </button>
            <button id="edit" class="notes-item-btn notes-item-item">
              <svg class="item-icon notes-icon" width="23" height="23">
                <use xlink:href="./images/sprite.svg#icon-delete"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
