<section class="section">
  <div class="container">
    <div class="header-container header-statistics-container">
      <ul class="list header-list">
        <li class="header-item header-statistics-item">
          <div class="item-container">
            <h2 class="item-title">Note Category</h2>
          </div>
        </li>
        <li class="header-item header-statistics-item">
          <div class="item-container">
            <h2 class="item-title">Active</h2>
          </div>
        </li>
        <li class="header-item header-statistics-item">
          <div class="item-container">
            <h2 class="item-title">Archived</h2>
          </div>
        </li>
      </ul>
    </div>
    <ul class="list statistics-list" id="statistics-list">
      <li class="notes-item statistics-item" id="statistics-task">
        <div class="notes-item-container">
          <svg class="item-icon" width="23" height="23">
            <use xlink:href="./images/sprite.svg#icon-shop"></use>
          </svg>
        </div>
        <div class="notes-item-item statistics-item-item">
          <h2 class="notes-title">Task</h2>
        </div>
        <div class="statistics-item-item">
          <button class="statistics-btn">0</button>
        </div>
        <div class="statistics-item-item">
          <button class="statistics-btn archived-btn">0</button>
        </div>
      </li>
      <li class="notes-item statistics-item" id="statistics-thought">
        <div class="notes-item-container">
          <svg class="item-icon" width="23" height="23">
            <use xlink:href="./images/sprite.svg#icon-thought"></use>
          </svg>
        </div>
        <div class="notes-item-item statistics-item-item">
          <h2 class="notes-title">Random Thought</h2>
        </div>
        <div class="statistics-item-item">
          <button class="statistics-btn">0</button>
        </div>
        <div class="statistics-item-item">
          <button class="statistics-btn archived-btn">0</button>
        </div>
      </li>
      <li class="notes-item statistics-item" id="statistics-idea">
        <div class="notes-item-container">
          <svg class="item-icon" width="23" height="23">
            <use xlink:href="./images/sprite.svg#icon-idea"></use>
          </svg>
        </div>
        <div class="notes-item-item statistics-item-item">
          <h2 class="notes-title">Idea</h2>
        </div>
        <div class="statistics-item-item">
          <button class="statistics-btn">0</button>
        </div>
        <div class="statistics-item-item">
          <button class="statistics-btn archived-btn">0</button>
        </div>
      </li>
    </ul>
  </div>
</section>
